<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-dp-dptc</id>
    <uuid>fabf40b1cd6144feaa60369392a5432f</uuid>
    <name>搭配弹出</name>
    <file>tshop-um-dp-dptc.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>搭配弹出</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>990</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="简约绿">
            <css>assets/stylesheets/green.css</css>
        </theme>
        <theme name="简约红">
            <css>assets/stylesheets/red.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="头部设置">
            <section title="头部设置" folded="false">
                <param description="标题设置" formType="text" label="标题设置" name="head" ptype="text" readonly="false">预售商品234</param>
                <param description="标题内容设置" formType="text" label="标题内容设置" name="text" ptype="text" readonly="false">购买越多，优惠越多</param>
                <param description="更多设置" formType="text" label="更多设置" name="more" ptype="text" readonly="false">更多商品</param>
                <param description="更多链接地址" formType="text" label="更多链接地址" name="link" ptype="text" readonly="false">#</param>
            </section>
        </group>
        <group title="商品设置">
            <section title="数量设置" folded="false">
                <param description="选择行数" formType="select" label="宝贝个数" name="gd_num" ptype="number" readonly="false">
                    <option value="1">1行</option>
                    <option value="2">2行</option>
                    <option value="3">3行</option>
                    <option value="4" selected="selected">4行</option>
                    <option value="5">5行</option>
                </param>
            </section>
            <section title="宝贝1设置" folded="false">
                <param description="选择1个宝贝" formType="itemForm" label="宝贝选择" name="items1" ptype="item" readonly="false">36008363364,7,6,2,3,4</param>
                <param description="标题：中文" formType="text" label="标题" name="zw1" ptype="text" readonly="false">数码配件</param>
                <param description="标题：英文" formType="text" label="标题" name="yw1" ptype="text" readonly="false">Digital accessories</param>
                <param description="大小:230*230,不填则自动获取" formType="text" label="宝贝图片" name="pic1" ptype="text" readonly="false"></param>
                <param description="简短" formType="text" label="宝贝标题" name="bt1" ptype="text" readonly="false">iphone4S手机壳</param>
            </section>
            <section title="宝贝2设置" folded="true">
                <param description="选择1个宝贝" formType="itemForm" label="宝贝选择" name="items2" ptype="item" readonly="false"/>
                <param description="标题：中文" formType="text" label="标题" name="zw2" ptype="text" readonly="false">配件</param>
                <param description="标题：英文" formType="text" label="标题" name="yw2" ptype="text" readonly="false">Digital</param>
                <param description="大小:230*230,不填则自动获取" formType="text" label="宝贝图片" name="pic2" ptype="text" readonly="false"></param>
                <param description="简短" formType="text" label="宝贝标题" name="bt2" ptype="text" readonly="false">iphone4S手机壳</param>
            </section>
            <section title="宝贝3设置" folded="true">
                <param description="选择1个宝贝" formType="itemForm" label="宝贝选择" name="items3" ptype="item" readonly="false"/>
                <param description="标题：中文" formType="text" label="标题" name="zw3" ptype="text" readonly="false">数码配件</param>
                <param description="标题：英文" formType="text" label="标题" name="yw3" ptype="text" readonly="false">Digital accessories</param>
                <param description="大小:230*230,不填则自动获取" formType="text" label="宝贝图片" name="pic3" ptype="text" readonly="false"></param>
                <param description="简短" formType="text" label="宝贝标题" name="bt3" ptype="text" readonly="false">iphone4S手机壳</param>
            </section>
            <section title="宝贝4设置" folded="true">
                <param description="选择1个宝贝" formType="itemForm" label="宝贝选择" name="items4" ptype="item" readonly="false"/>
                <param description="标题：中文" formType="text" label="标题" name="zw4" ptype="text" readonly="false">数码配件</param>
                <param description="标题：英文" formType="text" label="标题" name="yw4" ptype="text" readonly="false">Digital accessories</param>
                <param description="大小:230*230,不填则自动获取" formType="text" label="宝贝图片" name="pic4" ptype="text" readonly="false"></param>
                <param description="简短" formType="text" label="宝贝标题" name="bt4" ptype="text" readonly="false">iphone4S手机壳</param>
            </section>
            <section title="宝贝5设置" folded="true">
                <param description="选择1个宝贝" formType="itemForm" label="宝贝选择" name="items5" ptype="item" readonly="false"/>
                <param description="标题：中文" formType="text" label="标题" name="zw5" ptype="text" readonly="false">数码配件</param>
                <param description="标题：英文" formType="text" label="标题" name="yw5" ptype="text" readonly="false">Digital accessories</param>
                <param description="大小:230*230,不填则自动获取" formType="text" label="宝贝图片" name="pic5" ptype="text" readonly="false"></param>
                <param description="简短" formType="text" label="宝贝标题" name="bt5" ptype="text" readonly="false">iphone4S手机壳</param>
            </section>
        </group>
    </parameters>
</module>
