<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-dp-kf</id>
    <uuid>138ffb1fe8f749fe9e72cb2c7623c080</uuid>
    <name>店铺客服</name>
    <file>tshop-um-dp-kf.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>店铺客服</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>990</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="简约绿">
            <css>assets/stylesheets/green.css</css>
        </theme>
        <theme name="简约红">
            <css>assets/stylesheets/red.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="客服设置">
            <section folded="false" title="">
                <param readonly="false" ptype="number" name="kf_style" label="风格选择" formType="range" description="客服风格">
                    <option selected="selected" value="0">默认</option>
                    <option value="1">个性头像</option>
                </param>
            </section>
            <section folded="false" title="">
                <param readonly="false" ptype="text" name="ww_name1" label="①…售前昵称" formType="text" description="以|分隔">乐乐|博博|乐乐|博博|乐乐|博博|博博</param>
                <param readonly="false" ptype="text" name="ww_id1" label="旺旺ID" formType="text" description="以|分隔,与名称对应，不填则自动调用主号"/>
                <param readonly="false" ptype="text" name="ww_name2" label="②…售后昵称" formType="text" description="以|分隔">乐乐|博博|乐乐|博博|乐乐|博博|博博</param>
                <param readonly="false" ptype="text" name="ww_id2" label="旺旺ID" formType="text" description="以|分隔,与名称对应，不填则自动调用主号"/>
                <param readonly="false" ptype="text" name="time" label="③…工作时间" formType="text" description="-">周一至周五:09:00--24:00</param>
            </section>
        </group>
    </parameters>
</module>
