<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-dp-dapei</id>
    <uuid>aca2b92f66c04e53b9e393e6323120e0</uuid>
    <name>店铺搭配</name>
    <file>tshop-um-dp-dapei.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>店铺搭配</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>790,990</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="简约绿">
            <css>assets/stylesheets/green.css</css>
        </theme>
        <theme name="简约红">
            <css>assets/stylesheets/red.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="商品搭配设置">
            <section folded="false" title="主商品宝贝设置">
                <param readonly="false" ptype="item" name="items1" label="宝贝选择" formType="itemForm" description="选择1个宝贝"/>
                <param readonly="false" ptype="text" name="pic1" label="宝贝大图" formType="text" description="图片大小:320*320,不填则自动获取">../../assets/images/img_01.jpg</param>
                <param readonly="false" ptype="text" name="bt1" label="宝贝标题" formType="text" description="-">三星数码相机GT-I9508</param>
            </section>
            <section folded="false" title="搭配商品宝贝设置">
                <param readonly="false" ptype="item" name="items" label="宝贝选择" formType="itemForm" description="选择6个宝贝"/>
                <param readonly="false" ptype="text" name="qz" label="默认：促销价" formType="text" description="价格前缀">劲爆价</param>
                <param readonly="false" ptype="text" name="px" label="排序方式" formType="select" description="">
                    <option selected="selected" value=" ">按选择排序</option>
                    <option value="hotsell">热销宝贝升序排序</option>
                    <option value="_hotsell">热销宝贝降序排序</option>
                    <option value="ceofp">人气宝贝升序排序</option>
                    <option value="_ceofp">人气宝贝降序排序</option>
                    <option value="price">以宝贝价格升序排序</option>
                    <option value="_price">以宝贝价格降序排序</option>
                    <option value="newOn">以最新上架宝贝升序排序</option>
                    <option value="_newOn">以最新上架宝贝降序排序</option>
                    <option value="HotKeep">以热门收藏升序排序</option>
                    <option value="_HotKeep">以热门收藏降序排序</option>
                </param>
            </section>
        </group>
    </parameters>
</module>
