<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-dp-fl</id>
    <uuid>0c5877f0ff0c437593fd9e4602aaa819</uuid>
    <name>店铺分类</name>
    <file>tshop-um-dp-fl.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>店铺分类</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>990</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="分类设置">
            <section title="" folded="false">
                <param description="分类风格" formType="range" label="风格选择" name="fl_style" ptype="number" readonly="false">
                    <option value="1" selected="selected">竖排风格</option>
                    <option value="2">横排风格</option>
                </param>
            </section>
            <section title="模式组数" folded="false">
                <param description="最多6组" formType="select" label="分类组数" name="items_num" ptype="number" readonly="false">
                    <option value="1">1组</option>
                    <option value="2">2组</option>
                    <option value="3">3组</option>
                    <option value="4">4组</option>
                    <option value="5">5组</option>
                    <option value="6">6组</option>
                    <option value="7" selected="selected">7组</option>

                </param>
            </section>
            <section title="第1组分类设置" folded="false">
                <param description="选择一个类别里的子分类,不选则为手动输入" formType="categoryForm" label="系统调用" name="category0" ptype="category" readonly="false"/>
                <param description="以 | 隔开" formType="text" label="┏手动名称" name="fl_sd0" ptype="text" readonly="false">所以宝贝|8.25上新|8.20上新|8.15上新|8.10上新|8.5上新</param>
                <param description="以 | 隔开,与名称对应" formType="textarea" label="┗手动链接" name="fl_link0" ptype="textarea" readonly="false">#|#|#|#|#|#</param>
                <param description="以 | 隔开,0表示没有,1表示new,2表示hot,3表示sale" formType="text" label="链接图标" name="fl_tb0" ptype="text" readonly="false">0|1|2|0|3</param>
            </section>
            <section title="第2组分类设置" folded="true">
                <param description="选择一个类别里的子分类,不选则为手动输入" formType="categoryForm" label="系统调用" name="category1" ptype="category" readonly="false"/>
                <param description="以 | 隔开" formType="text" label="┏手动名称" name="fl_sd1" ptype="text" readonly="false">合约机专区|针织衫|背心/吊带衫|雪纺衫|连衣裙|雪纺连衣裙|吊带裙</param>
                <param description="以 | 隔开,与名称对应" formType="textarea" label="┗手动链接" name="fl_link1" ptype="textarea" readonly="false">#|#|#|#|#|#|#</param>
                <param description="以 | 隔开,0表示没有,1表示new,2表示hot,3表示sale" formType="text" label="链接图标" name="fl_tb1" ptype="text" readonly="false">0|1</param>
            </section>
            <section title="第3组分类设置" folded="true">
                <param description="选择一个类别里的子分类,不选则为手动输入" formType="categoryForm" label="系统调用" name="category2" ptype="category" readonly="false"/>
                <param description="以 | 隔开" formType="text" label="┏手动名称" name="fl_sd2" ptype="text" readonly="false">裸机专区|短裙|连衣裙|6折体验|日销过百|配件</param>
                <param description="以 | 隔开,与名称对应" formType="textarea" label="┗手动链接" name="fl_link2" ptype="textarea" readonly="false">#|#|#|#|#|#</param>
                <param description="以 | 隔开,0表示没有,1表示new,2表示hot,3表示sale" formType="text" label="链接图标" name="fl_tb2" ptype="text" readonly="false">0|3</param>
            </section>
            <section title="第4组分类设置" folded="true">
                <param description="选择一个类别里的子分类,不选则为手动输入" formType="categoryForm" label="系统调用" name="category3" ptype="category" readonly="false"/>
                <param description="以 | 隔开" formType="text" label="┏手动名称" name="fl_sd3" ptype="text" readonly="false">数码精品|背心|短袖|长袖|衬衫|连衣裙</param>
                <param description="以 | 隔开,与名称对应" formType="textarea" label="┗手动链接" name="fl_link3" ptype="textarea" readonly="false">#|#|#|#|#|#</param>
                <param description="以 | 隔开,0表示没有,1表示new,2表示hot,3表示sale" formType="text" label="链接图标" name="fl_tb3" ptype="text" readonly="false">0|0|0|2|1|0</param>
            </section>
            <section title="第5组分类设置" folded="true">
                <param description="选择一个类别里的子分类,不选则为手动输入" formType="categoryForm" label="系统调用" name="category4" ptype="category" readonly="false"/>
                <param description="以 | 隔开" formType="text" label="┏手动名称" name="fl_sd4" ptype="text" readonly="false">按尺寸分类|打底裤|短裤|连体裤|休闲长裤</param>
                <param description="以 | 隔开,与名称对应" formType="textarea" label="┗手动链接" name="fl_link4" ptype="textarea" readonly="false">#|#|#|#|#</param>
                <param description="以 | 隔开,0表示没有,1表示new,2表示hot,3表示sale" formType="text" label="链接图标" name="fl_tb4" ptype="text" readonly="false">0|3|0|2|</param>
            </section>
            <section title="第6组分类设置" folded="true">
                <param description="选择一个类别里的子分类,不选则为手动输入" formType="categoryForm" label="系统调用" name="category5" ptype="category" readonly="false"/>
                <param description="以 | 隔开" formType="text" label="┏手动名称" name="fl_sd5" ptype="text" readonly="false">按价格分类|打底裤|短裤|连体裤|休闲长裤</param>
                <param description="以 | 隔开,与名称对应" formType="textarea" label="┗手动链接" name="fl_link5" ptype="textarea" readonly="false">#|#|#|#|#</param>
                <param description="以 | 隔开,0表示没有,1表示new,2表示hot,3表示sale" formType="text" label="链接图标" name="fl_tb5" ptype="text" readonly="false">0|0|0|2</param>
            </section>
            <section title="第7组分类设置" folded="true">
                <param description="选择一个类别里的子分类,不选则为手动输入" formType="categoryForm" label="系统调用" name="category6" ptype="category" readonly="false"/>
                <param description="以 | 隔开" formType="text" label="┏手动名称" name="fl_sd6" ptype="text" readonly="false">液晶电视|打底裤|短裤|连体裤|休闲长裤</param>
                <param description="以 | 隔开,与名称对应" formType="textarea" label="┗手动链接" name="fl_link6" ptype="textarea" readonly="false">#|#|#|#|#</param>
                <param description="以 | 隔开,0表示没有,1表示new,2表示hot,3表示sale" formType="text" label="链接图标" name="fl_tb6" ptype="text" readonly="false">0|0|0|2</param>
            </section>
        </group>
    </parameters>
</module>
