<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-dp-fl</id>
    <uuid>0c5877f0ff0c437593fd9e4602aaa819</uuid>
    <name>店铺分类</name>
    <file>tshop-um-dp-fl.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>店铺分类</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>990</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="简约绿">
            <css>assets/stylesheets/green.css</css>
        </theme>
        <theme name="简约红">
            <css>assets/stylesheets/red.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="分类设置">
            <section folded="false" title="">
                <param readonly="false" ptype="number" name="fl_style" label="风格选择" formType="range" description="分类风格">
                    <option selected="selected" value="1">竖排风格</option>
                    <option value="2">横排风格</option>
                </param>
            </section>
            <section folded="false" title="模式组数">
                <param readonly="false" ptype="number" name="items_num" label="分类组数" formType="select" description="最多6组">
                    <option value="1">1组</option>
                    <option value="2">2组</option>
                    <option value="3">3组</option>
                    <option value="4">4组</option>
                    <option value="5">5组</option>
                    <option value="6">6组</option>
                    <option selected="selected" value="7">7组</option>

                </param>
            </section>
            <section folded="false" title="第1组分类设置">
                <param readonly="false" ptype="category" name="category0" label="系统调用" formType="categoryForm" description="选择一个类别里的子分类,不选则为手动输入"/>
                <param readonly="false" ptype="text" name="fl_sd0" label="┏手动名称" formType="text" description="以 | 隔开">所以宝贝|8.25上新|8.20上新|8.15上新|8.10上新|8.5上新</param>
                <param readonly="false" ptype="textarea" name="fl_link0" label="┗手动链接" formType="textarea" description="以 | 隔开,与名称对应">#|#|#|#|#|#</param>
                <param readonly="false" ptype="text" name="fl_tb0" label="链接图标" formType="text" description="以 | 隔开,0表示没有,1表示new,2表示hot,3表示sale">0|1|2|0|3</param>
            </section>
            <section folded="true" title="第2组分类设置">
                <param readonly="false" ptype="category" name="category1" label="系统调用" formType="categoryForm" description="选择一个类别里的子分类,不选则为手动输入"/>
                <param readonly="false" ptype="text" name="fl_sd1" label="┏手动名称" formType="text" description="以 | 隔开">合约机专区|针织衫|背心/吊带衫|雪纺衫|连衣裙|雪纺连衣裙|吊带裙</param>
                <param readonly="false" ptype="textarea" name="fl_link1" label="┗手动链接" formType="textarea" description="以 | 隔开,与名称对应">#|#|#|#|#|#|#</param>
                <param readonly="false" ptype="text" name="fl_tb1" label="链接图标" formType="text" description="以 | 隔开,0表示没有,1表示new,2表示hot,3表示sale">0|1</param>
            </section>
            <section folded="true" title="第3组分类设置">
                <param readonly="false" ptype="category" name="category2" label="系统调用" formType="categoryForm" description="选择一个类别里的子分类,不选则为手动输入"/>
                <param readonly="false" ptype="text" name="fl_sd2" label="┏手动名称" formType="text" description="以 | 隔开">裸机专区|短裙|连衣裙|6折体验|日销过百|配件</param>
                <param readonly="false" ptype="textarea" name="fl_link2" label="┗手动链接" formType="textarea" description="以 | 隔开,与名称对应">#|#|#|#|#|#</param>
                <param readonly="false" ptype="text" name="fl_tb2" label="链接图标" formType="text" description="以 | 隔开,0表示没有,1表示new,2表示hot,3表示sale">0|3</param>
            </section>
            <section folded="true" title="第4组分类设置">
                <param readonly="false" ptype="category" name="category3" label="系统调用" formType="categoryForm" description="选择一个类别里的子分类,不选则为手动输入"/>
                <param readonly="false" ptype="text" name="fl_sd3" label="┏手动名称" formType="text" description="以 | 隔开">数码精品|背心|短袖|长袖|衬衫|连衣裙</param>
                <param readonly="false" ptype="textarea" name="fl_link3" label="┗手动链接" formType="textarea" description="以 | 隔开,与名称对应">#|#|#|#|#|#</param>
                <param readonly="false" ptype="text" name="fl_tb3" label="链接图标" formType="text" description="以 | 隔开,0表示没有,1表示new,2表示hot,3表示sale">0|0|0|2|1|0</param>
            </section>
            <section folded="true" title="第5组分类设置">
                <param readonly="false" ptype="category" name="category4" label="系统调用" formType="categoryForm" description="选择一个类别里的子分类,不选则为手动输入"/>
                <param readonly="false" ptype="text" name="fl_sd4" label="┏手动名称" formType="text" description="以 | 隔开">按尺寸分类|打底裤|短裤|连体裤|休闲长裤</param>
                <param readonly="false" ptype="textarea" name="fl_link4" label="┗手动链接" formType="textarea" description="以 | 隔开,与名称对应">#|#|#|#|#</param>
                <param readonly="false" ptype="text" name="fl_tb4" label="链接图标" formType="text" description="以 | 隔开,0表示没有,1表示new,2表示hot,3表示sale">0|3|0|2|</param>
            </section>
            <section folded="true" title="第6组分类设置">
                <param readonly="false" ptype="category" name="category5" label="系统调用" formType="categoryForm" description="选择一个类别里的子分类,不选则为手动输入"/>
                <param readonly="false" ptype="text" name="fl_sd5" label="┏手动名称" formType="text" description="以 | 隔开">按价格分类|打底裤|短裤|连体裤|休闲长裤</param>
                <param readonly="false" ptype="textarea" name="fl_link5" label="┗手动链接" formType="textarea" description="以 | 隔开,与名称对应">#|#|#|#|#</param>
                <param readonly="false" ptype="text" name="fl_tb5" label="链接图标" formType="text" description="以 | 隔开,0表示没有,1表示new,2表示hot,3表示sale">0|0|0|2</param>
            </section>
            <section folded="true" title="第7组分类设置">
                <param readonly="false" ptype="category" name="category6" label="系统调用" formType="categoryForm" description="选择一个类别里的子分类,不选则为手动输入"/>
                <param readonly="false" ptype="text" name="fl_sd6" label="┏手动名称" formType="text" description="以 | 隔开">液晶电视|打底裤|短裤|连体裤|休闲长裤</param>
                <param readonly="false" ptype="textarea" name="fl_link6" label="┗手动链接" formType="textarea" description="以 | 隔开,与名称对应">#|#|#|#|#</param>
                <param readonly="false" ptype="text" name="fl_tb6" label="链接图标" formType="text" description="以 | 隔开,0表示没有,1表示new,2表示hot,3表示sale">0|0|0|2</param>
            </section>
        </group>
    </parameters>
</module>
