.tshop-um-dp-zz {
    margin-bottom: 10px;
    position: relative;
    z-index: 12;
}

.tshop-um-dp-zz .warp_bd {
    width: 990px;
    height: 410px;
}

.tshop-um-dp-zz .warp_bd a {
    width: 412px;
    height: 410px;
    display: inline-block;
    float: left;
}
.tshop-um-dp-zz .warp_bd .pic_2 {
    width: 578px;
    height: 182px;
}
.tshop-um-dp-zz .warp_bd .pic_3, .tshop-um-dp-zz .warp_bd .pic_4 {
    width: 289px;
    height: 228px;
}

.tshop-um-dp-zz .warp_bd span {
    width: 100%;
    height: 100%;
    background: #000;
    display: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
}

.tshop-um-dp-zz .warp_bd:hover span {
    display: block;
}

.tshop-um-dp-zz .warp_bd a:hover span {
    display: none;
}
 

