.tshop-um-dp-kf {
    color:black;
    width: 990px;
    margin-bottom: 10px;
    position: relative;
    z-index: 12;
}
.tshop-um-dp-kf .wrap_bd {
    padding: 18px;
    height: 55px;
    overflow: hidden;
    background-color: #fff;
}
.tshop-um-dp-kf .wrap_bd .ke_logo{
    float: left;
    width: 211px;
    height: 55px;
    background: url(assets/images/ser_logo2.gif) no-repeat;
}
.tshop-um-dp-kf .wrap_bd .ww_box {
    height: 55px;
    width: 500px;
    float: left;
    margin-left:50px;
    margin-top: 7px;
}
.tshop-um-dp-kf .wrap_bd .ww_box .ww_sq{
    height: 25px;
    overflow: hidden;
    _zoom: 1;
    font-size: 12px;
    line-height: 15px;
}

.tshop-um-dp-kf .wrap_bd .ww_box li{
    float: left;
    width: 62px;
}
.tshop-um-dp-kf .wrap_bd .ww_box .ww_font {
    font-weight: bold;
    width: 40px;
}
.tshop-um-dp-kf .wrap_bd .ww_box span{
    line-height: 15px;
    margin-right: 2px;
    float: left;
}
.tshop-um-dp-kf .wrap_bd .wk_time {
    padding-top: 8px;
    width: 180px;
    float: left;
    color: #000;
}
.tshop-um-dp-kf .wrap_bd .wk_time p{
    font-weight: bold;
}
 
