<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-dp-zz</id>
    <uuid>3e84ff9a7dea4557888189aca5b41671</uuid>
    <name>店铺遮罩</name>
    <file>tshop-um-dp-zz.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>店铺遮罩</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>990</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="简约绿">
            <css>assets/stylesheets/green.css</css>
        </theme>
        <theme name="简约红">
            <css>assets/stylesheets/red.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="内容设置">
            <section folded="false" title="图片1设置">
                <param readonly="false" ptype="text" name="pic_1" label="图片地址" formType="text" description="图片宽:412，高：410">assets/images/pic_01.jpg</param>
                <param readonly="false" ptype="text" name="link1" label="链接地址" formType="text" description="与图片对应">#</param>
            </section>
            <section folded="true" title="图片2设置">
                <param readonly="false" ptype="text" name="pic_2" label="图片地址" formType="text" description="图片宽:578，高：182">assets/images/pic_02.jpg</param>
                <param readonly="false" ptype="text" name="link2" label="链接地址" formType="text" description="与图片对应">#</param>
            </section>
            <section folded="true" title="图片3设置">
                <param readonly="false" ptype="text" name="pic_3" label="图片地址" formType="text" description="图片宽:289，高：228">assets/images/pic_03.jpg</param>
                <param readonly="false" ptype="text" name="link3" label="链接地址" formType="text" description="与图片对应">#</param>
            </section>
            <section folded="true" title="图片4设置">
                <param readonly="false" ptype="text" name="pic_4" label="图片地址" formType="text" description="图片宽:289，高：228">assets/images/pic_04.jpg</param>
                <param readonly="false" ptype="text" name="link4" label="链接地址" formType="text" description="与图片对应">#</param>
            </section>
        </group>
    </parameters>
</module>
