<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-dp-djs</id>
    <uuid>b0f5b9d7b436451c8471d23b230ac3a9</uuid>
    <name>店铺倒计时</name>
    <file>tshop-um-dp-djs.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>店铺倒计时</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>990</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="内容设置">
            <section title="头部设置" folded="false">
                <param description="标题设置" formType="text" label="标题设置" name="head" ptype="text" readonly="false">预售商品</param>
                <param description="标题内容设置" formType="text" label="标题内容设置" name="text" ptype="text" readonly="false">购买越多，优惠越多</param>
                <param description="更多设置" formType="text" label="更多设置" name="more" ptype="text" readonly="false">更多商品</param>
                <param description="更多链接地址" formType="text" label="更多链接地址" name="link" ptype="text" readonly="false">#</param>
            </section>
            <section title="商品宝贝设置" >
                <param description="选择宝贝" formType="itemForm" label="宝贝选择" name="items" ptype="item" readonly="false"/>
            </section>
        </group>
    </parameters>
</module>
