<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-dp-dtqh</id>
    <uuid>b51e36db2c9242df9450df460df55c68</uuid>
    <name>大商品切换</name>
    <file>tshop-um-dp-dtqh.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>大图切换</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>990</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="商品设置">
            <section title="宝贝1设置" folded="false">
                <param description="选择1个宝贝" formType="itemForm" label="宝贝选择" name="items1" ptype="item" readonly="false"/>
                <param description="图片大小:310*310,不填则自动获取" formType="text" label="宝贝大图" name="pic1" ptype="text" readonly="false">../../assets/images/b_pro_01.jpg</param>
                <param description="图片大小:163*40,不填则自动获取" formType="text" label="宝贝小图" name="spic1" ptype="text" readonly="false">../../assets/images/s_pro_01.jpg</param>
                <param description="-" formType="text" label="宝贝标题" name="bt1" ptype="text" readonly="false">三星数码相机GT-I9508</param>
            </section>
            <section title="宝贝2设置" folded="false">
                <param description="选择1个宝贝" formType="itemForm" label="宝贝选择" name="items2" ptype="item" readonly="false"/>
                <param description="图片大小:310*310,不填则自动获取" formType="text" label="宝贝大图" name="pic2" ptype="text" readonly="false">../../assets/images/b_pro_01.jpg</param>
                <param description="图片大小:163*40,不填则自动获取" formType="text" label="宝贝小图" name="spic2" ptype="text" readonly="false">../../assets/images/s_pro_02.jpg</param>
                <param description="-" formType="text" label="宝贝标题" name="bt2" ptype="text" readonly="false">三星数码相机GT-I9508</param>
            </section>
            <section title="宝贝3设置" folded="true">
                <param description="选择1个宝贝" formType="itemForm" label="宝贝选择" name="items3" ptype="item" readonly="false"/>
                <param description="图片大小:310*310,不填则自动获取" formType="text" label="宝贝大图" name="pic3" ptype="text" readonly="false">../../assets/images/b_pro_01.jpg</param>
                <param description="图片大小:163*40,不填则自动获取" formType="text" label="宝贝小图" name="spic3" ptype="text" readonly="false">../../assets/images/s_pro_03.jpg</param>
                <param description="-" formType="text" label="宝贝标题" name="bt3" ptype="text" readonly="false">三星数码相机GT-I9508</param>
            </section>
            <section title="宝贝4设置" folded="true">
                <param description="选择1个宝贝" formType="itemForm" label="宝贝选择" name="items4" ptype="item" readonly="false"/>
                <param description="图片大小:310*310,不填则自动获取" formType="text" label="宝贝大图" name="pic4" ptype="text" readonly="false">../../assets/images/b_pro_01.jpg</param>
                <param description="图片大小:163*40,不填则自动获取" formType="text" label="宝贝小图" name="spic4" ptype="text" readonly="false">../../assets/images/s_pro_01.jpg</param>
                <param description="-" formType="text" label="宝贝标题" name="bt4" ptype="text" readonly="false">三星数码相机GT-I9508</param>
            </section>
        </group>
        <group title="动画设置">
            <section folded="false">
                <param description=" " formType="select" label="播放方式" name="effect" ptype="text" readonly="false">
                    <option value="scrollx" selected="selected">水平滚动</option>
                    <option value="scrolly">垂直滚动</option>
                    <option value="fade">淡入淡出</option>
                    <option value="none">禁用效果</option>
                </param>
                <param description=" " formType="select" label="轮播效果" name="easing" ptype="text" readonly="false">
                    <option value="easeOutStrong" selected="selected">由快到慢 - 强</option>
                    <option value="easeInStrong">由慢到快 - 强</option>
                    <option value="easeBothStrong">动感弹性</option>
                    <option value="elasticIn">变幻抖动</option>
                    <option value="elasticOut">抖动变幻</option>
                    <option value="backOut">来回震动</option>
                    <option value="bounceOut">动感弹跳</option>
                    <option value="bounceBoth">动感抖动</option>
                    <option value="easeIn">由慢到快 - 弱</option>
                    <option value="easeOut">由快到慢 - 弱</option>
                    <option
                        value="easeBoth">原始简单滚动</option>
                    <option value="easeNone">原始简单均速</option>
                </param>
                <param description=" " formType="range" label="切换方式" name="autoplay" ptype="text" readonly="false">
                    <option value="true">自动播放</option>
                    <option value="false" selected="selected">手动控制</option>
                </param>
                <param description="图片切换时间,默认1s" formType="text" label="切换速度" name="duration" ptype="text" readonly="false">1</param>
                <param description="图片停留时间,默认3s" formType="text" label="停留时间" name="interval" ptype="text" readonly="false">3</param>
            </section>
        </group>
    </parameters>
</module>
