
.tshop-um-pic-lb {color:black;}

.tshop-um-pic-lb {
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    z-index: 12;
}

.tshop-um-pic-lb .mk_bd {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.tshop-um-pic-lb .main {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.tshop-um-pic-lb .main a {
    width: 990px;
    height: 400px;
    display: block;
    background: url(assets/images/img_01.jpg) no-repeat center center;
}

.tshop-um-pic-lb .nav1 {
    height: 28px;
    position: absolute;
    bottom: 0;
    z-index: 9;
}

.tshop-um-pic-lb .nav1 ul {
    width: 110%;
    overflow: hidden;
}

.tshop-um-pic-lb .nav1 li {
    height: 28px;
    margin-right: 1px;
    text-align: center;
    line-height: 28px;
    color: #000;
    background: #e9ebed;
    float: left;
    display: inline;
    cursor: pointer;
    opacity: 0.85;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=85)";
}

.tshop-um-pic-lb .nav1 .ks-active {
    background: #ff5656;
    color: #fff;
}

.tshop-um-pic-lb .nav2 {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: 9;
}

.tshop-um-pic-lb .nav2 ul {
    margin: 0 auto;
}

.tshop-um-pic-lb .nav2 li {
    width: 30px;
    height: 20px;
    margin: 0 2px;
    text-align: center;
    line-height: 20px;
    color: #000;
    background: #fff;
    float: left;
    cursor: pointer;
}

.tshop-um-pic-lb .nav2 .ks-active {
    width: 50px;
    background: #ff5656;
    color: #fff;
}

.tshop-um-pic-lb .nav3 {
    display: none;
}


