<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-sc-djs</id>
    <uuid>df7c9ab26f424f849ee440429296b092</uuid>
    <name>小倒计时</name>
    <file>tshop-um-sc-djs.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>小倒计时</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>790</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="简约绿">
            <css>assets/stylesheets/green.css</css>
        </theme>
        <theme name="简约红">
            <css>assets/stylesheets/red.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="头部设置">
            <section folded="false" title="头部设置">
                <param readonly="false" ptype="text" name="head" label="标题设置" formType="text" description="标题设置">预售商品234</param>
                <param readonly="false" ptype="text" name="text" label="标题内容设置" formType="text" description="标题内容设置">购买越多，优惠越多</param>
                <param readonly="false" ptype="text" name="more" label="更多设置" formType="text" description="更多设置">更多商品</param>
                <param readonly="false" ptype="text" name="link" label="更多链接地址" formType="text" description="更多链接地址">#</param>
            </section>
        </group>
        <group title="商品设置">
            <section folded="false" title="数量设置">
                <param readonly="false" ptype="number" name="gd_num" label="宝贝个数" formType="select" description="990可选择4个和8个；790请选择3个或6个">
                    <option value="3">3个</option>
                    <option selected="selected" value="6">6个</option>
                </param>
            </section>
            <section folded="false" title="宝贝1设置">
                <param readonly="false" ptype="item" name="items1" label="宝贝选择" formType="itemForm" description="选择1个宝贝"/>
                <param readonly="false" ptype="text" name="pic1" label="宝贝图片" formType="text" description="大小:220*220,不填则自动获取"/>
                <param readonly="false" ptype="text" name="bt1" label="宝贝标题" formType="text" description="简短">iphone4S手机壳</param>
                <param readonly="false" ptype="text" name="time1" label="倒计时设置" formType="text" description="倒计时设置：不填不倒计时">2013-12-21 11:01:01</param>
            </section>
            <section folded="true" title="宝贝2设置">
                <param readonly="false" ptype="item" name="items2" label="宝贝选择" formType="itemForm" description="选择1个宝贝"/>
                <param readonly="false" ptype="text" name="pic2" label="宝贝图片" formType="text" description="大小:220*220,不填则自动获取"/>
                <param readonly="false" ptype="text" name="bt2" label="宝贝标题" formType="text" description="简短">iphone4S手机壳</param>
                <param readonly="false" ptype="text" name="time2" label="倒计时设置" formType="text" description="倒计时设置：不填不倒计时"/>
            </section>
            <section folded="true" title="宝贝3设置">
                <param readonly="false" ptype="item" name="items3" label="宝贝选择" formType="itemForm" description="选择1个宝贝"/>
                <param readonly="false" ptype="text" name="pic3" label="宝贝图片" formType="text" description="大小:220*220,不填则自动获取"/>
                <param readonly="false" ptype="text" name="bt3" label="宝贝标题" formType="text" description="简短">iphone4S手机壳</param>
                <param readonly="false" ptype="text" name="time3" label="倒计时设置" formType="text" description="倒计时设置：不填不倒计时">2013-12-17 6:01:01</param>
            </section>
            <section folded="true" title="宝贝4设置">
                <param readonly="false" ptype="item" name="items4" label="宝贝选择" formType="itemForm" description="选择1个宝贝"/>
                <param readonly="false" ptype="text" name="pic4" label="宝贝图片" formType="text" description="大小:220*220,不填则自动获取"/>
                <param readonly="false" ptype="text" name="bt4" label="宝贝标题" formType="text" description="简短">iphone4S手机壳</param>
                <param readonly="false" ptype="text" name="time4" label="倒计时设置" formType="text" description="倒计时设置：不填不倒计时">2013-12-15 4:01:01</param>
            </section>
            <section folded="true" title="宝贝5设置">
                <param readonly="false" ptype="item" name="items5" label="宝贝选择" formType="itemForm" description="选择1个宝贝"/>
                <param readonly="false" ptype="text" name="pic5" label="宝贝图片" formType="text" description="大小:220*220,不填则自动获取"/>
                <param readonly="false" ptype="text" name="bt5" label="宝贝标题" formType="text" description="简短">iphone4S手机壳</param>
                <param readonly="false" ptype="text" name="time5" label="倒计时设置" formType="text" description="倒计时设置：不填不倒计时">2013-12-15 4:01:01</param>
            </section>
            <section folded="true" title="宝贝6设置">
                <param readonly="false" ptype="item" name="items6" label="宝贝选择" formType="itemForm" description="选择1个宝贝"/>
                <param readonly="false" ptype="text" name="pic6" label="宝贝图片" formType="text" description="大小:220*220,不填则自动获取"/>
                <param readonly="false" ptype="text" name="bt6" label="宝贝标题" formType="text" description="简短">iphone4S手机壳</param>
                <param readonly="false" ptype="text" name="time6" label="倒计时设置" formType="text" description="倒计时设置：不填不倒计时">2013-12-15 4:01:01</param>
            </section>
        </group>
    </parameters>
</module>
