<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-pic-lb</id>
    <uuid>1b56c22147a24203b2867f21757e3666</uuid>
    <name>图片轮播</name>
    <file>tshop-um-pic-lb.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>图片轮播</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>790,990</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="简约绿">
            <css>assets/stylesheets/green.css</css>
        </theme>
        <theme name="简约红">
            <css>assets/stylesheets/red.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="内容设置">
            <section folded="false" title="基本设置">
                <param readonly="false" ptype="text" name="pic_h" label="自定高度" formType="text" description="自定义图片高度,默认:400"/>
                <param readonly="false" ptype="number" name="num" label="图片数量" formType="select" description=" ">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option selected="selected" value="4">4</option>
                    <option value="5">5</option>
                </param>
                <param readonly="false" ptype="number" name="nav_ms" label="按钮模式" formType="select" description=" ">
                    <option selected="selected" value="1">标题模式</option>
                    <option value="2">数字模式</option>
                    <option value="3">不显示</option>
                </param>
                <param readonly="false" ptype="text" name="pic_bt" label="图片标题" formType="text" description="以|分割，与大图对应">新品发布|欧美时尚连衣裙系列|欧美时尚连衣裙系列|欧美时尚连衣裙系列</param>
            </section>
            <section folded="false" title="图片设置">
                <param readonly="false" ptype="text" name="pic1" label="┏图片地址" formType="text" description="注意所在区块宽度"/>
                <param readonly="false" ptype="text" name="link1" label="┗链接地址" formType="text" description="">#</param>
                <param readonly="false" ptype="text" name="pic2" label="┏图片地址" formType="text" description="注意所在区块宽度"/>
                <param readonly="false" ptype="text" name="link2" label="┗链接地址" formType="text" description="">#</param>
                <param readonly="false" ptype="text" name="pic3" label="┏图片地址" formType="text" description="注意所在区块宽度"/>
                <param readonly="false" ptype="text" name="link3" label="┗链接地址" formType="text" description="">#</param>
                <param readonly="false" ptype="text" name="pic4" label="┏图片地址" formType="text" description="注意所在区块宽度"/>
                <param readonly="false" ptype="text" name="link4" label="┗链接地址" formType="text" description="">#</param>
                <param readonly="false" ptype="text" name="pic5" label="┏图片地址" formType="text" description="注意所在区块宽度"/>
                <param readonly="false" ptype="text" name="link5" label="┗链接地址" formType="text" description="">#</param>
            </section>
        </group>
        <group title="动画设置">
            <section folded="false">
                <param readonly="false" ptype="text" name="effect" label="播放方式" formType="select" description=" ">
                    <option selected="selected" value="scrollx">水平滚动</option>
                    <option value="scrolly">垂直滚动</option>
                    <option value="fade">淡入淡出</option>
                    <option value="none">禁用效果</option>
                </param>
                <param readonly="false" ptype="text" name="easing" label="轮播效果" formType="select" description=" ">
                    <option selected="selected" value="easeOutStrong">由快到慢 - 强</option>
                    <option value="easeInStrong">由慢到快 - 强</option>
                    <option value="easeBothStrong">动感弹性</option>
                    <option value="elasticIn">变幻抖动</option>
                    <option value="elasticOut">抖动变幻</option>
                    <option value="backOut">来回震动</option>
                    <option value="bounceOut">动感弹跳</option>
                    <option value="bounceBoth">动感抖动</option>
                    <option value="easeIn">由慢到快 - 弱</option>
                    <option value="easeOut">由快到慢 - 弱</option>
                    <option
                        value="easeBoth">原始简单滚动</option>
                    <option value="easeNone">原始简单均速</option>
                </param>
                <param readonly="false" ptype="text" name="autoplay" label="切换方式" formType="range" description=" ">
                    <option selected="selected" value="true">自动播放</option>
                    <option value="false">手动控制</option>
                </param>
                <param readonly="false" ptype="text" name="duration" label="切换速度" formType="text" description="图片切换时间,默认1s">1.2</param>
                <param readonly="false" ptype="text" name="interval" label="停留时间" formType="text" description="图片停留时间,默认3s">5</param>
            </section>
        </group>
        <group title="样式设计">
            <section folded="false">
                <param readonly="false" ptype="text" name="mk_region" label="模块区块" formType="text" description="详情页不正常时请填写:790"/>
            </section>
        </group>
    </parameters>
</module>
