<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-pic-lb</id>
    <uuid>1b56c22147a24203b2867f21757e3666</uuid>
    <name>图片轮播</name>
    <file>tshop-um-pic-lb.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>图片轮播</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>790,990</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="内容设置">
            <section title="基本设置" folded="false">
                <param description="自定义图片高度,默认:400" formType="text" label="自定高度" name="pic_h" ptype="text" readonly="false"></param>
                <param description=" " formType="select" label="图片数量" name="num" ptype="number" readonly="false">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected="selected">4</option>
                    <option value="5">5</option>
                </param>
                <param description=" " formType="select" label="按钮模式" name="nav_ms" ptype="number" readonly="false">
                    <option value="1" selected="selected">标题模式</option>
                    <option value="2">数字模式</option>
                    <option value="3">不显示</option>
                </param>
                <param description="以|分割，与大图对应" formType="text" label="图片标题" name="pic_bt" ptype="text" readonly="false">新品发布|欧美时尚连衣裙系列|欧美时尚连衣裙系列|欧美时尚连衣裙系列</param>
            </section>
            <section title="图片设置" folded="false">
                <param description="注意所在区块宽度" formType="text" label="┏图片地址" name="pic1" ptype="text" readonly="false"></param>
                <param description="" formType="text" label="┗链接地址" name="link1" ptype="text" readonly="false">#</param>
                <param description="注意所在区块宽度" formType="text" label="┏图片地址" name="pic2" ptype="text" readonly="false"></param>
                <param description="" formType="text" label="┗链接地址" name="link2" ptype="text" readonly="false">#</param>
                <param description="注意所在区块宽度" formType="text" label="┏图片地址" name="pic3" ptype="text" readonly="false"></param>
                <param description="" formType="text" label="┗链接地址" name="link3" ptype="text" readonly="false">#</param>
                <param description="注意所在区块宽度" formType="text" label="┏图片地址" name="pic4" ptype="text" readonly="false"></param>
                <param description="" formType="text" label="┗链接地址" name="link4" ptype="text" readonly="false">#</param>
                <param description="注意所在区块宽度" formType="text" label="┏图片地址" name="pic5" ptype="text" readonly="false"></param>
                <param description="" formType="text" label="┗链接地址" name="link5" ptype="text" readonly="false">#</param>
            </section>
        </group>
        <group title="动画设置">
            <section folded="false">
                <param description=" " formType="select" label="播放方式" name="effect" ptype="text" readonly="false">
                    <option value="scrollx" selected="selected">水平滚动</option>
                    <option value="scrolly">垂直滚动</option>
                    <option value="fade">淡入淡出</option>
                    <option value="none">禁用效果</option>
                </param>
                <param description=" " formType="select" label="轮播效果" name="easing" ptype="text" readonly="false">
                    <option value="easeOutStrong" selected="selected">由快到慢 - 强</option>
                    <option value="easeInStrong">由慢到快 - 强</option>
                    <option value="easeBothStrong">动感弹性</option>
                    <option value="elasticIn">变幻抖动</option>
                    <option value="elasticOut">抖动变幻</option>
                    <option value="backOut">来回震动</option>
                    <option value="bounceOut">动感弹跳</option>
                    <option value="bounceBoth">动感抖动</option>
                    <option value="easeIn">由慢到快 - 弱</option>
                    <option value="easeOut">由快到慢 - 弱</option>
                    <option
                        value="easeBoth">原始简单滚动</option>
                    <option value="easeNone">原始简单均速</option>
                </param>
                <param description=" " formType="range" label="切换方式" name="autoplay" ptype="text" readonly="false">
                    <option value="true" selected="selected">自动播放</option>
                    <option value="false">手动控制</option>
                </param>
                <param description="图片切换时间,默认1s" formType="text" label="切换速度" name="duration" ptype="text" readonly="false">1.2</param>
                <param description="图片停留时间,默认3s" formType="text" label="停留时间" name="interval" ptype="text" readonly="false">5</param>
            </section>
        </group>
        <group title="样式设计">
            <section folded="false">
                <param description="详情页不正常时请填写:790" formType="text" label="模块区块" name="mk_region" ptype="text" readonly="false"></param>
            </section>
        </group>
    </parameters>
</module>
