#content {
	background-color:#E0E2E5 ;
}

#hd {
	background-image:url(assets/images/header_green_bg.png) ;
	background-repeat:repeat-x ;
	background-position:top left ;
	margin-bottom:0px;
}

.skin-box .skin-box-hd {
	border-style:solid;
}

.skin-box .skin-box-bd {
	border-style:solid;
}
