/**
 * ģ�飺tshop-um-dp-cate 
 * Ƥ�������⣩: Ĭ��
 * ����:
 * 		1. CSSѡ��������� ".tshop-um-dp-cate"����ֹʹ��ģ��ҳ��Ԫ�ص�IDѡ����
 *		2. CSS��ʽ������position����ֵ����ʹ��:fixed
 *		3. CSS��ʽ�ļ���z-index����ֵ������1-99֮��
 *		4. CSS URL��ַ�������Ա�URL�����л��߱��أ���Ի��ԣ�URL 
 */

.tshop-um-dp-cate a:hover {
    text-decoration: none;
}

.tshop-um-dp-cate a {
    color: #fff;
}
.tshop-um-dp-cate .pop_nav {
    display: none;
}
.tshop-um-dp-cate .pop_nav_wrap  {
    width: 260px;
    position: absolute;
    left: 0;
}

.tshop-um-dp-cate .pop_nav_wrap .pop_tab_hd{
    display: block;
    height: 38px;
    line-height: 38px;
    color: #fff;
    padding-left: 12px;
    font-size: 12px;
    background-color: #1b77d6;
}
.tshop-um-dp-cate .pop_nav_wrap .fushu {
    background-color: #1068c2;
}
.tshop-um-dp-cate .pop_nav_wrap .ks-active{
    background-color: #003b78;
    height: 34px;
    outline: none;
}
.tshop-um-dp-cate .pop_nav_wrap .pop_tab_bd {
    position: relative;
    overflow: hidden;
    padding-left: 2px;
    padding-bottom: 8px;
    background-color: #003b78;
}
.tshop-um-dp-cate .pop_nav_wrap .pop_tab_bd a{
    float: left;
    display: inline-block;
    margin-left: 9px;
    margin-bottom: 4px;
}
.tshop-um-dp-cate .pop_nav_wrap a:hover{
    text-decoration: underline;
}


 

