.tshop-um-dp-fl {
    margin-bottom: 10px;
    width: 990px;
    padding: 14px 0 10px 0;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    z-index: 12;
    color: #333;
}
.tshop-um-dp-fl .bd_right {
    font-size: 12px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.tshop-um-dp-fl .bd_right dl{
    float: left;
    width: 138px;
}
.tshop-um-dp-fl .bd_right dt a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
}
.tshop-um-dp-fl .bd_right dt {
    text-align: center;
    height: 32px;
    line-height: 25px;
    width: 138px;
    font-weight: bold;
    margin-bottom: 4px;
    border-bottom: 1px #999 solid;
}
.tshop-um-dp-fl .bd_right dd {
    padding-left: 10px;
    width: 138px;
    text-align: center;
    height: 32px;
    line-height: 30px;
}
.tshop-um-dp-fl .bd_right .item1 a{
    background: url(../../assets/images/hot.png) no-repeat right 0;
    color: #f1113b;
}
.tshop-um-dp-fl .bd_right .item2 a{
    background: url(../../assets/images/new.png) no-repeat right 0;
    color: #f1113b;
}
.tshop-um-dp-fl .bd_right .item3 a{
    background: url(../../assets/images/sale.png) no-repeat right 0;
    color: #f1113b;
}
.tshop-um-dp-fl .bd_right dd a:hover{
    text-decoration: underline;
}
.tshop-um-dp-fl .bd_right dd a{
    color: #000;
    text-decoration: none;
    padding-right: 20px;
}
.tshop-um-dp-fl .bd_right .sy_shu2 {
    overflow: hidden;
    height: 25px;
    width: 790px;
    margin-bottom: 3px;
}
.tshop-um-dp-fl .bd_right .sy_shu2 dt {
    float: left;

}
.tshop-um-dp-fl .bd_right .sy_shu2 dd {
    float: left;
    height: 25px;
    line-height: 30px;
    padding-right: 8px;
    width: auto;
}

 
