<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-dp-dz</id>
    <uuid>70da6851f35a427883d8ecd24207bf4c</uuid>
    <name>店铺店招</name>
    <file>tshop-um-dp-dz.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>店铺店招</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>990</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="简约绿">
            <css>assets/stylesheets/green.css</css>
        </theme>
        <theme name="简约红">
            <css>assets/stylesheets/red.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="店招设置">
            <section folded="false" title="店招图片">
                <param readonly="false" ptype="text" name="dz_pic" label="店招图片" formType="text" description="图片地址:990*120"></param>
            </section>
            <section folded="false" title="分享收藏设置">
                <param readonly="false" ptype="number" name="sc_show" label="收藏设置" formType="range" description="是否显示收藏">
                    <option selected="selected" value="0">显示</option>
                    <option value="1">不显示</option>
                </param>
                <param readonly="false" ptype="number" name="fx_show" label="分享设置" formType="range" description="是否显示分享">
                    <option selected="selected" value="0">显示</option>
                    <option value="1">不显示</option>
                </param>
            </section>
        </group>
        <group title="导航设置">
            <section folded="false" title="导航设置">
                <param readonly="false" ptype="text" name="dh_nav" label="导航名称" formType="text" description="名称以| 隔开,不填则不显示">首页|Store|iPhone|iMac|iPad</param>
                <param readonly="false" ptype="textarea" name="dh_link" label="导航链接" formType="textarea" description="以| 隔开,与名称对应">#|#|#|#|#</param>
                <param readonly="false" ptype="text" name="dh_tb" label="导航图标" formType="text" description="以| 隔开,与名称对应,0表示没有,1表示new,2表示hot,3表示sale">0|2|1|0|3</param>
            </section>
        </group>
    </parameters>
</module>
