<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-dp-qplb</id>
    <uuid>efa71a9ceda646fc864dd33c5c524fbe</uuid>
    <name>全屏轮播</name>
    <file>tshop-um-dp-qplb.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>全屏轮播</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>990</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="模块内容">
            <section title="高度设置" folded="false">
                <param description="是否保留全屏轮播" formType="range" label="轮播显示" name="lb_ys" ptype="number" readonly="false">
                    <option value="0" selected="selected">显示</option>
                    <option value="1">不显示</option>
                </param>
                <param description="自定义轮播高度,默认:620" formType="text" label="轮播高度" name="pic_h" ptype="text" readonly="false">620</param>
            </section>
            <section title="轮播图片" folded="false">
                <param description="多个图片以 | 隔开，图片宽1920" formType="textarea" label="图片地址" name="pic" ptype="textarea" readonly="false"></param>
                <param description="以 | 隔开，与大图对应" formType="textarea" label="链接地址" name="link" ptype="textarea" readonly="false">#|#|#|#</param>
            </section>
        </group>
        <group title="固定背景">
            <section folded="false">
                <param description="是否开启背景固定功能" formType="range" label="背景开启" name="bg_off" ptype="number" readonly="false">
                    <option value="0" selected="selected">开启</option>
                    <option value="1">关闭</option>
                </param>
                <param description="背景图片地址：1920" formType="text" label="背景图片" name="bg_pic" ptype="text" readonly="false">../../assets/images/big_bg.jpg</param>
                <param description=" " formType="range" label="对齐方式" name="bg_fs" ptype="text" readonly="false">
                    <option value="center top" selected="selected">顶部</option>
                    <option value="center center">居中</option>
                    <option value="center bottom">底部</option>
                </param>
                <param description=" " formType="range" label="平铺方式" name="bg_repeat" ptype="text" readonly="false">
                    <option value="repeat">平铺</option>
                    <option value="repeat-x">横向平铺</option>
                    <option value="repeat-y">纵向平铺</option>
                    <option value="no-repeat" selected="selected">不平铺</option>
                </param>
                <param description=" " formType="range" label="显示方式" name="bg_att" ptype="text" readonly="false">
                    <option value="fixed" selected="selected">固定</option>
                    <option value="scroll">不固定</option>
                </param>
            </section>
        </group>
        <group title="动画设置">
            <section folded="false">
                <param description=" " formType="select" label="按钮样式" name="nav_ys" ptype="number" readonly="false">
                    <option value="0">圆点模式</option>
                    <option value="1" selected="selected">左右箭头</option>
                    <option value="2">数字模式</option>
                    <option value="3">隐藏按钮</option>
                </param>
                <param description=" " formType="select" label="播放方式" name="effect" ptype="text" readonly="false">
                    <option value="scrollx" selected="selected">水平滚动</option>
                    <option value="scrolly">垂直滚动</option>
                    <option value="fade">淡入淡出</option>
                    <option value="none">禁用效果</option>
                </param>
                <param description=" " formType="select" label="轮播效果" name="easing" ptype="text" readonly="false">
                    <option value="easeOutStrong" selected="selected">由快到慢 - 强</option>
                    <option value="easeInStrong">由慢到快 - 强</option>
                    <option value="easeBothStrong">动感弹性</option>
                    <option value="elasticIn">变幻抖动</option>
                    <option value="elasticOut">抖动变幻</option>
                    <option value="backOut">来回震动</option>
                    <option value="bounceOut">动感弹跳</option>
                    <option value="bounceBoth">动感抖动</option>
                    <option value="easeIn">由慢到快 - 弱</option>
                    <option value="easeOut">由快到慢 - 弱</option>
                    <option
                        value="easeBoth">原始简单滚动</option>
                    <option value="easeNone">原始简单均速</option>
                </param>
                <param description=" " formType="range" label="切换方式" name="autoplay" ptype="text" readonly="false">
                    <option value="true" selected="selected">自动播放</option>
                    <option value="false">手动控制</option>
                </param>
                <param description="图片切换时间,默认1s" formType="text" label="切换速度" name="duration" ptype="text" readonly="false">1</param>
                <param description="图片停留时间,默认3s" formType="text" label="停留时间" name="interval" ptype="text" readonly="false">3</param>
            </section>
        </group>
        <group title="完全自定义页面">
            <section title="自定义页面" folded="false">
                <param description="自定义代码，可随意实现任意全屏效果,宽1920" formType="textarea" label="自定义页面代码" name="zdy_html" ptype="htmlarea" readonly="false"></param>
            </section>
        </group>
    </parameters>
</module>
