
.tshop-um-dp-dptc {
    color: black;
    position: relative;
    margin-bottom: 10px;
    z-index: 13;
    width: 990px;
    background-color: #FFF;
}


.tshop-um-dp-dptc .wrap_hd{
    height: 40px;
    background: #e0e2e5;
    color: #fff;
    font-size: 14px;
    margin-bottom: 3px;
}
.tshop-um-dp-dptc .wrap_hd .hd_info{
    line-height: 40px;
    float: left;
    color:#000;
}
.tshop-um-dp-dptc .wrap_hd .hd_more {
    display: block;
    width:176px;
    height:40px;
    font-size: 12px;
    float: right;
    line-height: 40px;
    text-align: right;
    padding-right: 10px;
    color: #fff;
    background: url(../../assets/images/icons.png) no-repeat -173px -185px;
    background-color: #ff5656;
    text-decoration: none;
}
.tshop-um-dp-dptc .wrap_hd .hd_title {
    width: 157px;
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    margin-right: 10px;
    background: url(../../assets/images/icons.png) no-repeat 0 -185px;
}

.tshop-um-dp-dptc .wrap_bd{
    background-color: #eff1f3;
    overflow: hidden;
    _zoom: 1;
    font-family: "Î¢ÈíÑÅºÚ";
}
.tshop-um-dp-dptc .wrap_bd .bd_title{
    height: 135px;
    width: 153px;
    background: url(../../assets/images/icons.png) no-repeat 0 -554px;
    float: left;
    margin-bottom: 9px;
    margin-right: 6px;
}
.tshop-um-dp-dptc .wrap_bd .bd_title .yw{
    padding-left: 12px;
    font-size: 14px;
    color: #fff;
}
.tshop-um-dp-dptc .wrap_bd .bd_title .zw{
    margin-top: 14px;
    padding-left: 12px;
    font-size: 18px;
    font-family: "Î¢ÈíÑÅºÚ";
    line-height: 18px;
    color: #fff;
}
.tshop-um-dp-dptc .wrap_bd .bd_item{
    margin-bottom: 9px;
    float: left;
    height: 135px;
    background-color: #fff;
    width: 135px;
    margin-left: 31px;
}

.tshop-um-dp-dptc .wrap_bd dl {
    overflow: hidden;
    _zoom: 1;
}
.tshop-um-dp-dptc .wrap_bd .item_pop .title{
    display: block;
    text-align: center;
    margin-top: 6px;
    line-height: 14px;
    font-size: 12px;
    color: #333;
}
.tshop-um-dp-dptc .wrap_bd .item_pop .alink{
    display: block;
    height: 230px;
    width: 230px;
}
.tshop-um-dp-dptc .wrap_bd .item_pop {
    display: none;
    position: absolute;
    width: 230px;
    border: 2px #ff5656 solid;
    background-color: #fff;
    overflow: hidden;
    padding: 6px;
}
.tshop-um-dp-dptc .item_pop .pro_price{
    padding-left:9px;
    height:32px;
}
.tshop-um-dp-dptc .item_pop .pro_price .del{
    color:#CCC;
}
.tshop-um-dp-dptc .item_pop .pro_price .price{
    font-family:"microsoft yahei";
    color:#FA8C2B;
    font-size:14px;
    margin-right:3px;
}
.tshop-um-dp-dptc .item_pop .pro_price .price span{
    font-size:26px;
}
.tshop-um-dp-dptc .item_pop .btn{
    padding-left:9px;
    overflow: hidden;
    padding-bottom: 4px;
    _zoom: 1;
}
.tshop-um-dp-dptc .item_pop .btn .gd_sc{
    margin-top:2px;
    background:url(/jysm/assets/images/icons.png) no-repeat;
}
.tshop-um-dp-dptc .item_pop .btn .gd_share{
    margin-top:2px;
    background:url(/jysm/assets/images/icons.png) no-repeat;
}
.tshop-um-dp-dptc .item_pop .btn .gd_buy{
    margin-top:2px;
    background-color:#FA8C2B;
    height:23px;
    float:left;
    line-height:23px;
    text-align:center;
    color:#FFF;
    text-decoration:none;
    width:98px;
}
.tshop-um-dp-dptc .item_pop .btn .gd_share{
    float:left;
    height:23px;
    margin-right:5px;
    width:60px;
    background-position:-60px -270px;
}
.tshop-um-dp-dptc .item_pop .btn .gd_sc{
    margin-right:5px;
    display:block;
    height:23px;
    width:60px;
    background-position:0 -330px;
    float:left;
}

.tshop-um-dp-dptc .item_pop .msg {
    margin-top: 6px;
    padding: 10px 8px;
    border-top: 1px #e9e9e9 solid;
}

.tshop-um-dp-dptc .item_pop .msg .msg_name{
    text-align: right;
    padding-right: 8px;
    color: #333;
}